
	@keyframes linkAnimation{
		0%   {border-radius: 1px;}
  		25%  {border-radius: 9px;}
  		50%  {border-radius: 15px;}
  		100% {border-radius: 20px;}
	}

	@keyframes linkAnimation2{
		0%   {background-color: #ffe400; opacity: 0;}
  		25%  {background-color: #ffe400; opacity: .25;}
  		50%  {background-color: #ffe400; opacity: .50;}
  		100% {background-color: #ffe400; opacity: 1;}
	}

	body{
		background-color: #089985;
	}
	p{
		margin: 0px;
		padding: 0px;
	}
	h3{
		margin: 0%;
		font-family:Verdana, Geneva, Tahoma, sans-serif;
		color: #ffe400;
		letter-spacing: 3px;
	}
	.head{
		text-align: center;
		padding: 10px;
		font-size: 2em;
		color: white;
	}
	.container{
		background-color: #747474;
		box-shadow: 0px 0px 30px black;
	}
	.content{
		background-color: #272727;
		height: 900px;

	}
	q{
		color: #ff652f;
		text-transform: uppercase;
		font-family:Verdana, Geneva, Tahoma, sans-serif;
		font-weight: bold;
		font-size: 35px;
	}
	.quote{
		width: 1000px;
		margin-left: 850px;
		padding-top: 150px;
		
	}

	cite{
		color: #747474;
		font-size: 1.50em;
	}

	.link a{
		font-family:Verdana, Geneva, Tahoma, sans-serif;
		background-color:  #ffe400;
		padding: 20px;
		font-size: 40px;
		font-weight: bold;
		margin-top: 200px;
		margin-right: 50px;
		box-shadow: 5px 10px 10px black;
		text-decoration: none;
		color: black;
	}

	.link a:hover{
		background-color: #14a76c;
		box-shadow: 10px 15px 15px black;
		text-decoration: underline;
		color: navy;
		animation-name: linkAnimation;
		animation-duration: 0.1s;
		animation-fill-mode: both;
	}


	.link a:active{
		box-shadow: 0px 0px 0px black;
	}


	.link a:visited {
		background-color: #998A05;
		color: white;
	}
	.link a:visited:hover {
		background-color: #14a76c;
		color: navy;
		text-decoration: underline;
	}

	.link{
		margin-left: 60px;
		margin-top: 60px;
	}

	.picture{
		float: left;
		margin-left: 500px;
		margin-top: 230px;
	}

	hr{
		margin-left: 105px;
	}

    .img1{
        width: 200px;
        height: 200px;
        margin-right: 30px;
        margin-left: 67px;
    }
    .img2{
        width: 200px;
        height: 200px;
        margin-right: 100px;
        margin-left: 67px;
    }

    .link2{
        margin-top: 20px;
		font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

    .link2 a{
        border: 2px solid #ffe400;
        padding: 15px 60px 15px;
        margin-left: 70px;
        border-radius: 20px;
        font-size: 1.25em;
        font-weight: bold;
        color: #e6e6e6;
		text-decoration: none;
    }

    .link2 a:hover{
        color: #272727;
		animation-name: linkAnimation2;
		animation-duration: 0.4s;
		animation-fill-mode: both;
    }

    .link2 a:active{
        color: #ff652f;
    }

	.link2 a:visited{
        color: #747474;
		text-decoration: none;
    }
	